apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: {{ namespace_postgres }}
spec:
  instances: {{ postgres_instances }}

  bootstrap:
{% if cnpg_backup_exists | default(false) %}
    recovery:
      source: cnpg-backup
{% else %}
    initdb:
      database: app
      owner: app
{% endif %}

{% if cnpg_backup_exists | default(false) %}
  externalClusters:
    - name: cnpg-backup
      barmanObjectStore:
        destinationPath: "s3://{{ cnpg_backup_bucket }}/"
        endpointURL: "{{ garage_s3_endpoint }}"
        serverName: "postgres"
        s3Credentials:
          accessKeyId:
            name: cnpg-backup-secret
            key: ACCESS_KEY_ID
          secretAccessKey:
            name: cnpg-backup-secret
            key: ACCESS_SECRET_KEY
        wal:
          maxParallel: 8

{% endif %}
  backup:
    barmanObjectStore:
      destinationPath: "s3://{{ cnpg_backup_bucket }}/"
      endpointURL: "{{ garage_s3_endpoint }}"
      s3Credentials:
        accessKeyId:
          name: cnpg-backup-secret
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: cnpg-backup-secret
          key: ACCESS_SECRET_KEY
      wal:
        compression: gzip
        maxParallel: 8
    retentionPolicy: "{{ cnpg_backup_retention }}"

  env:
    - name: AWS_DEFAULT_REGION
      value: "{{ cnpg_backup_region }}"

  storage:
    storageClass: longhorn-2replicas
    size: {{ postgres_storage_size }}

  resources:
    requests:
      cpu: "{{ postgres_req_cpu }}"
      memory: "{{ postgres_req_mem }}"
    limits:
      cpu: "{{ postgres_lim_cpu }}"
      memory: "{{ postgres_lim_mem }}"
