apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: postgres-daily
  namespace: {{ namespace_postgres }}
spec:
  schedule: "{{ cnpg_schedule_cron }}"
  backupOwnerReference: self
  cluster:
    name: postgres
  method: barmanObjectStore
