apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: {{ namespace_postgres }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      securityContext:
        fsGroup: 5050
      containers:
        - name: pgadmin
          image: dpage/pgadmin4:{{ pgadmin_version }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: pgadmin-credentials
          resources:
            requests:
              cpu: "{{ pgadmin_req_cpu }}"
              memory: "{{ pgadmin_req_mem }}"
            limits:
              cpu: "{{ pgadmin_lim_cpu }}"
              memory: "{{ pgadmin_lim_mem }}"
          readinessProbe:
            httpGet:
              path: /misc/ping
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /misc/ping
              port: 80
            initialDelaySeconds: 180
            periodSeconds: 10
            failureThreshold: 3
          volumeMounts:
            - name: pgadmin-data
              mountPath: /var/lib/pgadmin
      volumes:
        - name: pgadmin-data
          persistentVolumeClaim:
            claimName: pgadmin-data
