apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  namespace: {{ namespace_postgres }}
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ postgres_lb_ip }}"
  selector:
    cnpg.io/cluster: postgres
    role: primary
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
