grafana:
  enabled: false   # Grafana is deployed as a standalone release in the 'grafana' namespace
  forceDeployDashboards: true   # still create dashboard ConfigMaps in the 'prometheus' namespace
  defaultDashboardsAnnotations:
    grafana_folder: Kubernetes   # sidecar uses this annotation to place them in a folder

prometheus:
  prometheusSpec:
    retention: "{{ prometheus_retention }}"
    resources:
      requests:
        cpu: "{{ prometheus_req_cpu }}"
        memory: "{{ prometheus_req_mem }}"
      limits:
        cpu: "{{ prometheus_lim_cpu }}"
        memory: "{{ prometheus_lim_mem }}"

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: "{{ alertmanager_req_cpu }}"
        memory: "{{ alertmanager_req_mem }}"
      limits:
        cpu: "{{ alertmanager_lim_cpu }}"
        memory: "{{ alertmanager_lim_mem }}"
