apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app.name }}
  namespace: {{ app.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app.name }}
  template:
    metadata:
      labels:
        app: {{ app.name }}
    spec:
      containers:
      - name: {{ app.name }}
        image: stefanprodan/podinfo:6.3.5
        ports:
        - containerPort: 9898
        env:
        - name: PODINFO_UI_MESSAGE
          value: "Bem-vindo ao meu Homelab no Proxmox!"
