apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-credentials
  namespace: {{ namespace_pgadmin }}
type: Opaque
stringData:
  PGADMIN_DEFAULT_EMAIL: "{{ vault_pgadmin_email }}"
  PGADMIN_DEFAULT_PASSWORD: "{{ vault_pgadmin_password }}"
