title: Homelab
theme: dark
color: slate
headerStyle: clean
layout:
  Monitoramento:
    style: row
    columns: 3
  Infraestrutura:
    style: row
    columns: 3
  Aplicações:
    style: row
    columns: 3
  Rede:
    style: row
    columns: 3
