apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: {{ app.namespace }}
data:
  settings.yaml: |
    {{ lookup('template', role_path + '/templates/config-settings.yaml.j2') | indent(4) }}
  widgets.yaml: |
    {{ lookup('template', role_path + '/templates/config-widgets.yaml.j2') | indent(4) }}
  services.yaml: |
    {{ lookup('template', role_path + '/templates/config-services.yaml.j2') | indent(4) }}
  bookmarks.yaml: |
    {{ lookup('template', role_path + '/templates/config-bookmarks.yaml.j2') | indent(4) }}
  kubernetes.yaml: |
    {{ lookup('template', role_path + '/templates/config-kubernetes.yaml.j2') | indent(4) }}
  docker.yaml: |
    {{ lookup('template', role_path + '/templates/config-docker.yaml.j2') | indent(4) }}
