apiVersion: v1
kind: Secret
metadata:
  name: {{ longhorn_backup_credential_secret }}
  namespace: {{ longhorn_namespace }}
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "{{ longhorn_backup_access_key }}"
  AWS_SECRET_ACCESS_KEY: "{{ longhorn_backup_secret_key }}"
  AWS_ENDPOINTS: "{{ longhorn_s3_endpoint }}"
