apiVersion: v1
kind: Secret
metadata:
  name: linkding-env
  namespace: {{ app.namespace }}
type: Opaque
stringData:
  LD_DB_ENGINE: "postgresql"
  LD_DB_DATABASE: "linkding"
  LD_DB_USER: "{{ linkding_db_user }}"
  LD_DB_PASSWORD: "{{ linkding_db_password }}"
  LD_DB_HOST: "postgres-rw.{{ namespace_postgres }}.svc.cluster.local"
  LD_DB_PORT: "5432"
  LD_SECRET_KEY: "{{ vault_linkding_secret_key }}"
  LD_SUPERUSER_NAME: "{{ vault_linkding_superuser_name }}"
  LD_SUPERUSER_PASSWORD: "{{ vault_linkding_superuser_password }}"
