apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app.name }}-data
  namespace: {{ app.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ gotify_storage_size }}
